# Virtuální prostředí
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Editor
.vscode/

# OS soubory
.DS_Store
Thumbs.db

# Logy a dočasné věci
*.log
logs/

cache/

# Prefetched OSM data (large files)
data/*.gpkg
data/*.geojson
!data/.gitkeep

# Soukromé proměnné
.env

*.png
*.gif
*.htmllogs/

# Outputs
output/

# Trained models
*pt

# Allow results folder tracking
!results/