# Simulation & Physics
pybullet
numpy
scipy

# Mapping & Geometry
osmnx
geopandas
shapely
contextily

# Visualization
matplotlib
SciencePlots
opencv-python

# Reinforcement Learning
torch
tensordict
torchrl
gymnasium
tqdm
pettingzoo